---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel/Channel_SetGetUserState/uuid/UUID_SetGetUserState/data?state=%7B%22testkey%22%3A%22testval%22%7D&pnsdk=PubNub-Go%2F3.7.0&uuid=UUID_SetGetUserState
    method: GET
  response:
    body: '{"status": 200, "message": "OK", "payload": {"testkey": "testval"}, "service":
      "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel/Channel_SetGetUserState/uuid/UUID_SetGetUserState?pnsdk=PubNub-Go%2F3.7.0&uuid=UUID_SetGetUserState
    method: GET
  response:
    body: '{"status": 200, "uuid": "UUID_SetGetUserState", "service": "Presence",
      "message": "OK", "payload": {"testkey": "testval"}, "channel": "Channel_SetGetUserState"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel/Channel_SetGetUserState/leave?uuid=UUID_SetGetUserState&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
unclosed_requests: {}
