---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence-pnpres/0/0?uuid=UUID_zeroPresence&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '[[],"14574408341796496"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence-pnpres,Channel_ZeroPresence/0/0?uuid=UUID_zeroPresence&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '[[],"14574408342306632"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence-pnpres/0/14574408341796496?uuid=UUID_zeroPresence&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '[[{"action": "join", "timestamp": 1457440834, "uuid": "UUID_zeroPresence",
      "occupancy": 1}],"14574408349298950"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
[...]
