---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence-pnpres/0/0?uuid=UUID_zeroPresence&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '[[],"14595215760735054"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence-pnpres,Channel_ZeroPresence/0/0?uuid=UUID_zeroPresence&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '[[],"14595215760735054",""]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence-pnpres,Channel_ZeroPresence/0/14595215760735054?uuid=UUID_zeroPresence&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '[[{"action": "join", "timestamp": 1459521681, "uuid": "UUID_zeroPresence",
      "occupancy": 1}],"14595216817119294","Channel_ZeroPresence-pnpres"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence-pnpres,Channel_ZeroPresence/0/14595216817119294?uuid=UUID_zeroPresence&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '[[{"action": "leave", "timestamp": 1459521681, "uuid": "UUID_zeroPresence",
      "occupancy": 0}],"14595216818468107","Channel_ZeroPresence-pnpres"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
unclosed_requests: {}
