---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence-pnpres/0/0?uuid=UUID_zeroPresence&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '[[],"14599319405885986"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence-pnpres,Channel_ZeroPresence/0/0?uuid=UUID_zeroPresence&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '[[],"14599319406443593"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence-pnpres/0/14599319405885986?uuid=UUID_zeroPresence&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '[[{"action": "join", "timestamp": 1459931941, "uuid": "UUID_zeroPresence",
      "occupancy": 1}],"14599319414255172"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence-pnpres,Channel_ZeroPresence/0/14599319406443593?uuid=UUID_zeroPresence&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '[[{"action": "join", "timestamp": 1459931941, "uuid": "UUID_zeroPresence",
      "occupancy": 1}],"14599319414255172","Channel_ZeroPresence-pnpres"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
unclosed_requests:
  ? http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence-pnpres,Channel_ZeroPresence/0/14599319414255172?uuid=UUID_zeroPresence&pnsdk=PubNub-Go%2F3.7.0
  : {}
  ? http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence-pnpres/0/14599319414255172?uuid=UUID_zeroPresence&pnsdk=PubNub-Go%2F3.7.0
  : {}
