---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/publish/pub-c-071e1a3f-607f-4351-bdd1-73a8eb21ba7c/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/0/connectStatus_14/0/%22HACK%22?pnsdk=PubNub-Go%2F3.7.0&uuid=c821a0f5405c4cc6807068abe945ed34
    method: GET
  response:
    body: '[1,"Sent","14574193454162670"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel/connectStatus_14,connectStatus_992/leave?uuid=c821a0f5405c4cc6807068abe945ed34&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
