---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/time/0?pnsdk=PubNub-Go%2F3.7.0&uuid=timeGetter_time_uuid
    method: GET
  response:
    body: '[14574612350310300]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/publish/pub-c-071e1a3f-607f-4351-bdd1-73a8eb21ba7c/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/0/Channel_MultipleResponse/0/%22message1%22?pnsdk=PubNub-Go%2F3.7.0&uuid=17bd71ce40b3ada0801676a5c332ef46
    method: GET
  response:
    body: '[1,"Sent","14574612350593312"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel/Channel_MultipleResponse/leave?uuid=17bd71ce40b3ada0801676a5c332ef46&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
