---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/publish/pub-c-071e1a3f-607f-4351-bdd1-73a8eb21ba7c/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/0/Mpx_Channel_1/0/%22NEzif8UOAV1bxmYio4KPAw==%22?pnsdk=PubNub-Go%2F3.7.0&uuid=799b69d440239ea280890244a3617c2b
    method: GET
  response:
    body: '[1,"Sent","14574632228521395"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/publish/pub-c-071e1a3f-607f-4351-bdd1-73a8eb21ba7c/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/0/Mpx_Channel_2/0/%22xXch1+uwbgGgLOudCKzFSw==%22?pnsdk=PubNub-Go%2F3.7.0&uuid=799b69d440239ea280890244a3617c2b
    method: GET
  response:
    body: '[1,"Sent","14574632228796323"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel/Mpx_Channel_1,Mpx_Channel_2/leave?uuid=799b69d440239ea280890244a3617c2b&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
