---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_SubscribeMajor.%2A/0/0?uuid=UUID_SubscribeMajor&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '[[],"14588303680736640","",""]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_SubscribeMajor.%2A/0/14588303843889819?uuid=UUID_SubscribeMajor&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '[[{"action": "leave", "timestamp": 1458830384, "uuid": "UUID_SubscribeMajor",
      "occupancy": 0}],"14588303845321039","Channel_SubscribeMajor.*","Channel_SubscribeMajor.*-pnpres"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_SubscribeMajor.%2A/0/14588303843889819?uuid=UUID_SubscribeMajor&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '[[{"action": "leave", "timestamp": 1458830384, "uuid": "UUID_SubscribeMajor",
      "occupancy": 0}],"14588303845321039","Channel_SubscribeMajor.*","Channel_SubscribeMajor.*-pnpres"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
unclosed_requests: {}
