---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel-group/Group_AlreadySubscribed?add=adsf&pnsdk=PubNub-Go%2F3.7.0&uuid=1f2b2abf404314ce80508a776f9c2aa4
    method: GET
  response:
    body: '{"status": 200, "message": "OK", "service": "channel-registry", "error":
      false}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel/,/leave?uuid=1f2b2abf404314ce80508a776f9c2aa4&channel-group=Group_AlreadySubscribed&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel-group/Group_AlreadySubscribed/remove?pnsdk=PubNub-Go%2F3.7.0&uuid=1f2b2abf404314ce80508a776f9c2aa4
    method: GET
  response:
    body: '{"status": 200, "message": "OK", "service": "channel-registry", "error":
      false}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
