---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/,/0/0?channel-group=Group_NotExistingCG&uuid=3bb4c9b0403c33d280e7cb4b49b38b3a&pnsdk=PubNub-Go%2F3.7.0
    method: GET
  response:
    body: '{"status":400,"service":"PubSub","error":true,"message":"Channel group
      or groups result in empty subscription set"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 400 Error
    code: 400
