---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel-group/Group_NotExistingCG/remove?pnsdk=PubNub-Go%2F3.7.0&uuid=3bb4c9b0403c33d280e7cb4b49b38b3a
    method: GET
  response:
    body: '{"status": 200, "message": "OK", "service": "channel-registry", "error":
      false}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
