name: Tests

on:
  push:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  PAM_PUBLISH_KEY: ${{ secrets.PAM_PUBLISH_KEY }}
  PAM_SUBSCRIBE_KEY: ${{ secrets.PAM_SUBSCRIBE_KEY }}
  PAM_SECRET_KEY: ${{ secrets.PAM_SECRET_KEY }}
  PUBLISH_KEY: ${{ secrets.PUBLISH_KEY }}
  SUBSCRIBE_KEY: ${{ secrets.SUBSCRIBE_KEY }}
defaults:
  run:
    shell: bash

jobs:
  tests:
    name: Integration and Unit tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: [1.19.4]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Checkout actions
        uses: actions/checkout@v3
        with:
          repository: pubnub/client-engineering-deployment-tools
          ref: v1
          token: ${{ secrets.GH_TOKEN }}
          path: .github/.release/actions
      - name: Setup Go ${{ matrix.go }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
          cache: true
      - name: Build and run tests for Go ${{ matrix.go }}
        run: ./scripts/run-tests.sh -mod=mod
      - name: Cancel workflow runs for commit on error
        if: failure()
        uses: ./.github/.release/actions/actions/utils/fast-jobs-failure
  acceptance-tests:
    name: Acceptance tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
      - name: Checkout mock-server action
        uses: actions/checkout@v3
        with:
          repository: pubnub/client-engineering-deployment-tools
          ref: v1
          token: ${{ secrets.GH_TOKEN }}
          path: .github/.release/actions
      - name: Run mock server action
        uses: ./.github/.release/actions/actions/mock-server
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Setup Go 1.19.4
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.4
          cache: true
      - name: Run acceptance tests (optional)
        run: |
          cd tests/contract
          go test -path ../../sdk-specifications/features -tagsFilter "~@skip && ~@na=go && @beta" -format "junit:beta.xml"
        continue-on-error: true
      - name: Run acceptance tests (required)
        run: |
          cd tests/contract
          go test -path ../../sdk-specifications/features -tagsFilter "~@skip && ~@na=go && ~@beta" -format "junit:main.xml"
      - name: Expose acceptance tests reports
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: acceptance-test-reports
          path: |
            ./tests/contract/beta.xml
            ./tests/contract/main.xml
          retention-days: 7
      - name: Cancel workflow runs for commit on error
        if: failure()
        uses: ./.github/.release/actions/actions/utils/fast-jobs-failure
  all-tests:
    name: Tests
    runs-on: ubuntu-latest
    needs: [tests, acceptance-tests]
    steps:
      - name: Tests summary
        run: echo -e "\033[38;2;95;215;0m\033[1mAll tests successfully passed"