name: Validations

on: [push]

jobs:
  validators:
    name: "Validate .pubnub.yml"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
      - name: Checkout validator action
        uses: actions/checkout@v3
        with:
          repository: pubnub/client-engineering-deployment-tools
          ref: v1
          token: ${{ secrets.GH_TOKEN }}
          path: .github/.release/actions
      - name: "Run '.pubnub.yml' file validation"
        uses: ./.github/.release/actions/actions/validators/pubnub-yml
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Simulate delay
        shell: bash
        run: sleep 15
      - name: Simulate failure
        shell: bash
        run: exit 1
      - name: Some debug output attempt
        shell: bash
        run: echo "Woohoo"
      - name: Cancel workflow runs for commit on error
        if: ${{ failure() }}
        uses: ./.github/.release/actions/actions/utils/fast-jobs-failure